@page
@model ProjectGeoShot.Game.Areas.ProjectGeoShot.Pages.IndexModel
@{
    ViewData["Title"] = "ProjectGeoShot";
}
2
<h1>Hello from ProjectGeoShot Razor!</h1>
<p>This is a page from the Razor Class Library.</p>